
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Montserrat:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #4b33a8;
    --color-main-light: #785ce9;
    --color-blanco: #ececec;
    --color-gris: #e2e2e2;
    --color-rojo: #961818;
}

*{
    font-family: 'DM Serif Display', serif;
}
a {
    text-decoration: none;
}